{% extends 'base.html.twig' %}

{% block title %}Cars in Group {{ carGroup.gid }}{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        const startActivity = 2000
        const noActivityFromStart = 60000
        const noButtonPressed = 20000
        const delay = ms => new Promise(res => setTimeout(res, ms));

        const startTimer = async () => {
            await delay(startActivity);
            const saveButton = document.getElementById("saveButton");
            saveButton.addEventListener("click", relocate);
            saveButton.addEventListener("close", relocate);
            const myWindow = new bootstrap.Modal(document.getElementById("myWindow"), {
                keyboard: false
            });

            await delay(noActivityFromStart-startActivity);
            myWindow.show()

            await delay(noButtonPressed);
            window.location = "http://127.0.0.1:8000/";
        };
        function relocate() {
            window.location = window.location.href;
        }
        startTimer()
    </script>
{% endblock %}

{% block body %}
<div class="container">
    <header>
        <h6 class="text-center mb-3 display-4 text-primary fw-bold text-shadow">{{ 'title.scan_form'|trans }}</h6>
        <div style="text-align: center;">
            {{ 'entity.carGroup.name'|trans}}: {{ carGroup.gid }} |
            {{ 'entity.carGroup.front_license_plate'|trans}}: {{ carGroup.frontLicensePlate }} |
            {{ 'entity.carGroup.back_license_plate'|trans}}: {{ carGroup.backLicensePlate }}
        </div>
    </header>
    <hr>

    <div class="modal fade" id="myWindow" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">{{ 'entity.car.timeout_title'|trans}}</h5>
                </div>
                <div class="modal-body">
                    {{ 'entity.car.timeout_text'|trans}}
                </div>
                <div class="modal-footer">
                    <button type="button" id="saveButton" class="btn btn-primary">{{ 'entity.car.timeout_button'|trans}}</button>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <section class="mb-5">
            {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
            {{ form_widget(form) }}
            {{ form_end(form) }}
        </section>
    </div>
    <div class="row">
        <section class="mb-5">
            <table class="table table-hover table-bordered">
                <thead>
                <tr class="table-primary">
                    <th scope="col">#</th>
                    <th scope="col">{{ 'entity.car.status'|trans}}</th>
                    <th scope="col">{{ 'entity.car.vis'|trans}}</th>
                    <th scope="col">{{ 'entity.car.note'|trans}}</th>
                    <th scope="col">{{ 'entity.car.replaced_car'|trans}}</th>
                </tr>
                </thead>
                <tbody class="table-group-divider">
                {% for car in carGroup.cars %}
                    <tr class="table-{% if car.status == 0 %}danger{% else %}success{% endif %}">
                        <th scope="row">{{ loop.index }}</th>
                        <td>{% if car.status == 0 %}✘{% else %}✔{% endif %}</td>
                        <td>{{ car.vis }}</td>
                        <td>{{ car.note }}</td>
                        <td>{{ car.replacedCar }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </section>
    </div>
</div>
{% endblock %}
