{% extends 'base.html.twig' %}

{% block title %}{{ 'entity.user.reset_password'|trans }}{% endblock %}

{% block body %}
<h1>{{ 'entity.user.reset_password'|trans }}</h1>

{{ form_start(resetForm, {'attr': {'novalidate': 'novalidate'}}) }}
    {{ form_row(resetForm.plainPassword) }}
    <button class="btn btn-primary">{{ 'entity.user.reset_password'|trans }}</button>
{{ form_end(resetForm) }}
{% endblock %}
