<h2>{{ 'entity.user.approve'|trans }}</h2>
{% if toApproveNotifications is not empty %}
<div class="row">
    <section class="mb-2">
        <div class="table-responsive">
            <table class="table table-hover table-bordered">
                <thead>
                <tr class="table-primary">
                    <th scope="col">#</th>
                    <th scope="col">{{ 'entity.carGroup.gid'|trans }}</th>
                    <th scope="col">{{ 'entity.carGroup.front_license_plate'|trans }}</th>
                    <th scope="col">{{ 'entity.carGroup.back_license_plate'|trans }}</th>
                    <th scope="col">{{ 'entity.user.deny'|trans }}</th>
                </tr>
                </thead>
                <tbody class="table-group-divider">
                {% for carGroup in toApproveNotifications %}
                    {% set url = ea_url()
                        .setController('App\\Controller\\Admin\\CarGroupCrudController')
                        .setAction('detail')
                        .setEntityId(carGroup.id) %}
                    <tr onclick="window.location.href='{{ url }}';" style="cursor:pointer;">
                        <th scope="row">{{ loop.index }}</th>
                        <td>{{ carGroup.gid }}</td>
                        <td>{{ carGroup.frontLicensePlate }}</td>
                        <td>{{ carGroup.backLicensePlate }}</td>
                        <td>
                            <a href="{{ path('remove_from_progress', {'id': carGroup.id}) }}" style="display: block">X</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </section>
</div>
{% else %}
    {{ 'entity.user.no_approve'|trans }}
{% endif %}

<h2>{{ 'entity.user.scanning'|trans }}</h2>
{% if workInProgressNotifications is not empty%}
    <div class="row">
        <section class="mb-2">
            <div class="table-responsive">
                <table class="table table-hover table-bordered">
                    <thead>
                    <tr class="table-primary">
                        <th scope="col">#</th>
                        <th scope="col">{{ 'entity.carGroup.gid'|trans }}</th>
                        <th scope="col">{{ 'entity.user.scanned'|trans }}</th>
                        <th scope="col">{{ 'entity.user.all'|trans }}</th>
                        <th scope="col">{{ 'entity.carGroup.front_license_plate'|trans }}</th>
                        <th scope="col">{{ 'entity.carGroup.back_license_plate'|trans }}</th>
                        <th scope="col">{{ 'entity.user.deny'|trans }}</th>
                    </tr>
                    </thead>
                    <tbody class="table-group-divider">
                    {% for carGroup in workInProgressNotifications %}
                        <tr>
                            <th scope="row">{{ loop.index }}</th>
                            <td>{{ attribute(carGroup, 0).gid }}</td>
                            <td>{{ attribute(carGroup, 2) }}</td>
                            <td>{{ attribute(carGroup, 1) }}</td>
                            <td>{{ attribute(carGroup, 0).frontLicensePlate }}</td>
                            <td>{{ attribute(carGroup, 0).backLicensePlate }}</td>
                            <td>
                                <a href="{{ path('remove_from_progress', {'id': attribute(carGroup, 0).id}) }}" style="display: block">X</a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </section>
    </div>
{% else %}
    {{ 'entity.user.no_deny'|trans }}
{% endif %}