{% extends '@EasyAdmin/page/content.html.twig' %}

{% block main %}
    <script type="text/javascript">
        function reloadContent() {
            fetch('{{ path('admin_notifications') }}').then(function(response) {
                return response.text();
            }).then(function(data) {
                document.querySelector('#js-notifications').innerHTML = data;
            }).catch(function(err) {
                console.log('Fetch Error :-S', err);
            });
        }

        setInterval(function(){
            document.querySelector('#js-notifications').innerHTML = 'Nacitvam';
            reloadContent()
        }, 15000);
    </script>

    {% if carsInQueue > 0 %}
        <div class="alert alert-warning mb-3">
            {{ 'import.car.count_in_queue'|trans({'%carsInQueue%': carsInQueue}) }}
        </div>
    {% endif %}
    {% if filesInQueue > 0 %}
        <div class="alert alert-warning mb-3">
            {{ 'import.file.count_in_queue'|trans({'%filesInQueue%': filesInQueue}) }}
        </div>
    {% endif %}
    <div id="js-notifications">
        {% include 'admin/_notification.html.twig' %}
    </div>
    <h2>History</h2>
    {% if exportedCars is not empty %}
        <div class="row">
            <section class="mb-2">
                <div class="table-responsive">
                    <table class="table table-hover table-bordered">
                        <thead>
                        <tr class="table-primary">
                            <th scope="col">#</th>
                            <th scope="col">{{ 'entity.carGroup.gid'|trans }}</th>
                            <th scope="col">{{ 'entity.carGroup.front_license_plate'|trans }}</th>
                            <th scope="col">{{ 'entity.carGroup.back_license_plate'|trans }}</th>
                        </tr>
                        </thead>
                        <tbody class="table-group-divider">
                        {% for carGroup in exportedCars %}
                            <tr>
                                <th scope="row">{{ loop.index }}</th>
                                <td>{{ carGroup.gid }}</td>
                                <td>{{ carGroup.frontLicensePlate }}</td>
                                <td>{{ carGroup.backLicensePlate }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </section>
        </div>
    {% else %}
        There are no car groups in history
    {% endif %}
{% endblock %}